%section.about#about
  .container.w-75
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        %center
          =image_tag "app/logo-speaker.png", class: 'navbar-brand'
      .col-lg-8.col-md-8.col-sm-6.col-xs-12.about-text
        Es un entrenamiento intensivo que ofrece al participante técnicas, fundamentos y destrezas para producir cambios potenciadores y avances SIGNIFICATIVOS en su forma de expresión oral, entregándole lo necesario para proyectarse como Speaker (conferencista) y de esta forma poder causar un impacto positivo, inspirando de forma CONGRUENTE a quienes le escuchen.
