%section.certified
  .certified-subsection-1
    .certified-subsection-background
  .certified-subsection-2
    .certified-content
      .col-lg-3.col-md-3.col-sm-3.visible-xs.certified-title
        %center
          %h2
            %b Avalado por
          %p La certificación internacional de speakers está impulsada por.
      .col-lg-9.col-md-9.col-sm-9.col-xs-12#banderas
        %center
          .row
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              =image_tag "app/gerenglob_Colombia.png", width: "200px"
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              =image_tag "app/Saber_Universitario.png", width: "200px"
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              =image_tag "app/ASL.jpg", width: "200px"
      .col-lg-3.col-md-3.col-sm-3.hidden-xs.certified-title
        %h2
          %b Avalado por
        %p La certificación internacional de speakers está impulsada por.
