%section.conferences
  .conferences-content.w-75
    .col-lg-3.col-md-4.col-sm-12.col-xs-12.conferences-title
      %h3
        Entérate de nuestras póximas fechas de certificaciones.
    .col-lg-9.col-md-8.col-sm-12.col-xs-12
      .row
        .col-lg-8.col-md-8.col-sm-6.col-xs-12#calentar-event.first-event
          .box-event
            %center
              %h3
                %b Fechas
            %br
            - @conferences.each do |conference|
              %center
                %p
                  %b= "#{conference.city}: "
                  = conference.dates
                %br
        .col-lg-4.col-md-4.col-sm-6.col-xs-12#calentar-event
          .box-event
            %center
              %h3
                %b Lugar
            - @conferences_places.each do |place|
              %br
              %center
                %p= place
      %h6
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12#calentar-event
          .box-event{style: 'height: 100%;'}
            %center
              %h3
                %b Horario
            %br
            %center
              %p De 8:00 a.m. a 12:00 p.m / de 2:00 p.m. a 6:00 p.m.
