%section.contacts#contacts
  .contacts-content
    = simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
      %h1
        %b Contactos
      %center
        .row
          .col-lg-6.col-md-6
            = f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required", style: 'margin-bottom: 10px;'}
            = f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required", style: 'margin-bottom: 10px;'}
            = f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje...", style: 'margin-bottom: 10px; height: 80px;'}

            = raw recaptcha_tags ajax: true
            %br
            = button_tag(type: 'submit', class: "btn-contact pull-right") do
              =image_tag "app/enviar.png", width: "40px"
          .col-lg-6.col-md-6
            =image_tag "app/footer-logo.png", :id => 'logo-speaker-footer'
  .socials
    .container#container-fluid-socials
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        .icon-socials
          %center
            = link_to @social_accounts.twitter, target: "_blank"do
              %i.fa.fa-twitter
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        .icon-socials
          %center
            = link_to @social_accounts.facebook, target: "_blank" do
              %i.fa.fa-facebook-square
      .col-lg-4.col-md-4.col-sm-4.col-xs-4
        .icon-socials
          %center
            = link_to @social_accounts.instagram, target: "_blank" do
              %i.fa.fa-instagram
      %center
        %h3 Síguenos en nuestras redes sociales
