%section.rights
  .rights-content
    Todos los derechos reservados. Academia superación y liderazgo. 2014.
%section.slice-muffin
  .slice-muffin-content
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.slice-text
        Desarrollado por
        = link_to "http://slicegroup.xyz/" do
          = image_tag "app/slice.png", class: "footer-logo", width: "60"
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.muffin-text
        Diseñado por
        = link_to "http://studiomuffin.com/" do
          = image_tag "app/muffin.png", class: "footer-logo-muffin", width: "60"

