%section.index-gallery#gallery
  .index-gallery-subsection-1.hidden-xs.hidden-sm
    .index-gallery-subsection-background
  .index-gallery-subsection-2
    .index-gallery-content
      /.section-8#galeria
      /  .subsection-1.hidden-xs.hidden-sm
      /    .borde-subsection
      /  #text-section-8
      /    .container#container-fluid
      #title-galeria
        %h1{style:"margin-bottom: 0px;"} Galería
      %br
      %br
      .row
        - @images.each do |imagen|
          %center
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              %a.hidden-xs{href:"", "data-target" => "#modalfoto-#{imagen.id}", "data-toggle" => "modal", :type => "button"}
                .galeria-image{style:"background-image: url(#{imagen.image});"}
              .galeria-image.visible-xs{style:"background-image: url(#{imagen.image});"}
              .modal.fade{id:"modalfoto-#{imagen.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog.modal-lg
                  .modal-content
                    .modal-body#modal-body-galeria
                      #imagen-modal{style:"background-image: url(#{imagen.image})"}

      %br
      %button.pull-right.hidden-xs{ :type=>"button", :onclick=>"window.location.href = '/gallery'"}
        Ir a Galeria
      %center.visible-xs{ :type=>"button", :onclick=>"window.location.href = '/gallery'"}
        %button.btn-gallery-xs
          Ir a Galeria
