%section.henao
  .henao-subsection
  .henao-content.w-75
    .row
      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        .video-container
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.youtube.com/embed/BHMZqliWXXU", :width => "100%"}

      .col-lg-6.col-md-6.col-sm-12.col-xs-12
        %center
          %h2
            %b ¿Quién te certificará?
        %center
          %p Gustavo Henao, INSPIRADOR DE MULTITUDES, speaker, certified coach-trainer. Aclamado coach en temas de crecimiento personal, motivación y liderazgo. Su historia de superación personal es ÚNICA e INSPIRADORA. Con amplia trayectoria en eventos empresariales, congresos internacionales, seminarios de alto nivel, y conferencias motivacionales que combinan la reflexión y el liderazgo integral.
          %br
          %br
          %center
            %b "Gustavo Henao, no es un lector de teorias, es un TRANSFORMADOR del potencial humano".
