%section.modules
  .modules-subsection-1
    .modules-subsection-background
  .modules-subsection-2
    .modules-content.w-75
      .col-lg-3.col-md-4.hidden-sm.hidden-xs{style: "padding-top:50px;font-size: 18px;"}
        %p  Durante 5 días recibirás todas las destrezas y técnicas que utiliza Gustavo Henao en diferentes escenarios internacionales, las cuales  te permitirán  certificarte como speaker y con ellas podrás demostrar tu poder inspirador.
      .col-lg-9.col-md-8.col-sm-12.col-xs-12#aprende-icon
        %center
          %h2
            %b ¿Que aprenderás?
          %p.visible-sm.visible-xs Durante 5 días recibirás todo el conocimiento importante para certificarte como speaker y podrás demostrar tu poder inspirador.
          %br
          %br
          .row
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              %center{style: "font-size:15px;"}
                %a.modal-image{href:"", "data-target" => "#modalextraordinario", "data-toggle" => "modal", :type => "button"}
                  =image_tag "app/comun-extraordinario.png", width: "70px"
                %br
                %p
                  De lo común a lo
                  %b extraordinario
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              %center{style: "font-size:15px;"}
                %a.modal-image{href:"", "data-target" => "#modalinvisible", "data-toggle" => "modal", :type => "button"}
                  =image_tag "app/visible-invisible.png", width: "90px"
                %br
                %p
                  Haciendo visible lo
                  %b "invisible"
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              %center{style: "font-size:15px;"}
                %a.modal-image{href:"", "data-target" => "#modalganar", "data-toggle" => "modal", :type => "button"}
                  =image_tag "app/ganar-dinero.png", width: "70px"
                %br
                %p
                  ¿Ganar dinero inspirando?
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              %center{style: "font-size:15px;"}
                %a.modal-image{href:"", "data-target" => "#modalinspirador", "data-toggle" => "modal", :type => "button"}
                  =image_tag "app/speaker-inspirador.png", width: "70px"
                %br
                %p
                  Un speaker
                  %b inspirador


= render "modalextraordinario"
= render "modalinvisible"
= render "modalganar"
= render "modalinspirador"
