%section.testimonies
  .testimonies-content
    .col-lg-4.title-testimonios
      %h1.text-testimonios Testimonios
    .col-lg-8
      #carousel-testimonies.carousel.slide.carousel-small{"data-ride" => "carousel"}
        .carousel-inner{:role => "listbox"}
          .item.active
            %center
              .text-testimonios
                “LA CERTIFICACIÓN Speaker Con Gustavo Henao es una gran puerta para que las personas puedan desarrollar sus habilidades y proyectar su potencial. ¡Vale la pena!”
              .carousel-caption
                MÓNICA SUÁREZ
                %br
                BACHELOR, ESPECIALISTA EN RELACIONES INDUSTRIALES, SPEAKER.
          .item
            %center
              .text-testimonios
                “Realmente he quedado complacida con esta Certificación. Me ha dejado no solo un cambio en mi persona, si no que he encontrado también mi propósito”.
              .carousel-caption
                EYERLYN PULIDO
                %br
                LIC. EN CONTADURÍA. SPEAKER.
          .item
            %center
              .text-testimonios
                “Si tienes algo que contar, este es el momento y el lugar para que te Certifiques. La experiencia superó mis expectativas y es absolutamente recomendable”
              .carousel-caption
                MIGDALIA DENIS
                %br
                CONTADORA. PRESIENTA DE LA SOCIEDAD LATINA DE HIPERTENSIÓN PULMONAR. SPEAKER.

      #carousel-testimonies.carousel.slide.carousel-big{"data-ride" => "carousel"}
        .carousel-inner{:role => "listbox"}
          .item.active
            %center
              .text-testimonios{style:"font-size: 18px;"}
                “Para mí la certificación fue algo anormal, algo Impresionante. El primer día al momento de almorzar me di cuenta de que la inversión había valido la pena. Pienso que lo que Gustavo logra muy pocas personas pueden hacerlo. Hace 28 años tenía que pedir perdón a mi madre, ella asistió al cierre del evento, y allí pude dar el paso finalmente. Me voy no solo con los genuinos conocimientos, si no también Libre de esto que me carcomía”
            .carousel-caption
              OMARFONS HERRERA
              %br
              EMPRESARIO AMWAY. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Un taller intensivo que permite de manera práctica llevar a la acción el arte de comunicar, y hacerlo con estilo. Fui en busca de una mejor forma de organizar mis reuniones diarias de trabajo y salí con ganas de transmitirle al mundo mis ideas”.
            .carousel-caption
              ADRIANA SOLÓRSANO
              %br
              ESPECIALISTA EN ADMINISTRACIÓN DE EMPRESAS. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Gustavo me empujo a mi propósito de vida. Mi bloqueo mental y emocional no dejaba que viera con claridad a qué vine a este mundo. Mi instinto y actitud me llevo a esta certificación. Volví a nacer, estoy creciendo con entusiasmo, amor, fe y pasión. ¡TENGO PARA DAR!.”
            .carousel-caption
              NÁCARY LATREE
              %br
              ECONOMISTA. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Fui por un sueño y encontré en este seminario una PASION, MI PASIÓN: promover la inteligencia emocional desde la infancia. Además, creo que trabajar como conferencista este tema tan interesante es parte del propósito de mi vida .Gracias Gustavo”.
            .carousel-caption
              ERLINDA RUÍZ
              %br
              EMPRESARIA AMWAY.SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “LA CERTIFICACIÓN Speaker Con Gustavo Henao es una gran puerta para que las personas puedan desarrollar sus habilidades y proyectar su potencial. ¡Vale la pena!”
            .carousel-caption
              MÓNICA SUÁREZ
              %br
              BACHELOR, ESPECIALISTA EN RELACIONES INDUSTRIALES, SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Los estándares éticos, de excelencia, y de responsabilidad que se manejan en esta certificación son unas de las cosas más importantes que me llevo como experiencia. En cualquier parte se consigue el conocimiento académico, pero aquí se consigue mucho más”.
            .carousel-caption
              DAVID ACEDO
              %br
              ADMINISTRADOR. COACH DE DESEMPEÑO Y ODONTOLÓGICO. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 24px;"}
                “Inspirar es algo que yo siempre quise hacer, la certificación me va a permitir cambiar vidas y la primera vida que voy a cambiar es la mía”
            .carousel-caption
              JAVIER CALERO
              %br
              ABOGADO. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Vine a Barquisimeto a aprender a hablar en público, y me voy no solo con las herramientas para hacerlo, sino que me voy INSPIRADO. Estoy agradecido de Dios por haber conocido a Gustavo.”
            .carousel-caption
              ALBERT ESPAÑA
              %br
              PROFESOR. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 22px;"}
                “Si tienes algo que contar, este es el momento y el lugar para que te Certifiques. La experiencia superó mis expectativas y es absolutamente recomendable”
            .carousel-caption
              MIGDALIA DENIS
              %br
              CONTADORA. PRESIENTA DE LA SOCIEDAD LATINA DE HIPERTENSIÓN PULMONAR. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 22px;"}
                “Realmente estoy sorprendido con el resultado que he obtenido al hacer la Certificación. Me voy completo en cuanto a las herramientas que he obtenido”.
            .carousel-caption
              JOSÉ SANQUINO
              %br
              ABOGADO. EMPRESARIO AMWAY. SPAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “Esto ha sido más que un aprendizaje, ha sido una de las mejores experiencias de mi vida. Creo que Dios siembra sueños en nosotros pero también coloca personas que nos impulsen a alcanzarlos, con esta Certificación he encontrado en Gustavo alguien que me ayudó a que parte de mis mayores anhelos se hiciera realidad”.
            .carousel-caption
              GUILLERMO CARREÑO
              %br
              LIC. EN TEOLOGIA. EMPRESARIO. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 22px;"}
                “Realmente he quedado complacida con esta Certificación. Me ha dejado no solo un cambio en mi persona, si no que he encontrado también mi propósito”.
            .carousel-caption
              EYERLYN PULIDO
              %br
              LIC. EN CONTADURÍA. SPEAKER.
          .item
            %center
              .text-testimonios{style:"font-size: 20px;"}
                “La Certificación Internacional es una experiencia inolvidable. No solamente te enseñan técnicas de oratoria, si no que hay un equipo de trabajo que te acompaña a desarrollar todas ellas. Es una experiencia única que nos permite reconocer las fortalezas que poseemos”.
            .carousel-caption
              NELSON LÓPEZ
              %br
              LIC. EN CIENCIAS POLÍTICAS. SPEAKER.
:javascript
  $( document ).ready(function() {
    $('#carousel-testimonies').carousel({
      interval: 10000
    });
  });
