%h1= "#{@user.name}, has sido invitado a pertenecer a nuestro grupo de Speakers."

%p
  %label Tus datos:
  %span= "Nombre: #{@user.name}"
  %span= "Email: #{@user.email}"
  %span= "Contraseña: #{@password}"

%p
  Puedes ingresar a la web con estos datos
  = link_to 'Aqui', '#'
  o puedes cambiar tu contraseña
  = link_to 'Aqui', '#'
