%div{ style: 'padding: 20px;' }
  %h1= "#{@user.name}, has sido invitado a pertenecer a nuestro grupo de Speakers."

  %p
    %ul
      %li{ style: 'display: block;' }
        %strong{ style: 'font-size: 18px;' } Tus datos:
      %li{ style: 'display: block; padding-left: 10px;' }
        %strong Nombre:
        = @user.name
      %li{ style: 'display: block; padding-left: 10px;' }
        %strong Email:
        = @user.email
      %li{ style: 'display: block; padding-left: 10px;' }
        %strong Código de certificado:
        = @user.code
      %li{ style: 'display: block; padding-left: 10px;' }
        %strong Contraseña:
        = @password

  %p
    Para ingresar a la web con estos datos haz click
    = link_to 'Aqui.', "#{@request_url}#{new_user_session_path}", target: '_blank'
  %p
    Si quieres cambiar tu contraseña, puedes entrar
    = link_to 'Aqui.', "#{@request_url}#{new_user_session_path(reset_password_token: @token)}", target: '_blank'
