.audio-player{ id: "player-#{post.id}" }
  = audio_tag post.attachment, controls: true, id: "audio-#{post.id}" do
    Disculpa, el navegador no soporta este formato de Audio
  .audio-controls
    %button.btn-floating.btn-small.btn-flat{ id: "btn-play-#{post.id}" }
      %i.material-icons play_arrow
    %button.btn-floating.btn-small.btn-flat{ id: "btn-rewind-#{post.id}" }
      %i.material-icons fast_rewind
    %button.btn-floating.btn-small.btn-flat{ id: "btn-forward-#{post.id}" }
      %i.material-icons fast_forward
    %button.btn-floating.btn-small.btn-flat{ id: "btn-stop-#{post.id}" }
      %i.material-icons stop
    %button.btn-floating.btn-small.btn-flat{ id: "btn-volume-mute-#{post.id}" }
      %i.material-icons volume_off
    %button.btn-floating.btn-small.btn-flat{ id: "btn-volume-down-#{post.id}" }
      %i.material-icons volume_down
    %button.btn-floating.btn-small.btn-flat{ id: "btn-volume-up-#{post.id}" }
      %i.material-icons volume_up
  .timeline{ id: "audio-timeline-#{post.id}" }
    .playhead{ id: "playhead-#{post.id}" }

  :javascript
    player('#{post.id}');
