- @comments.each do |comment|
  %li.collection-item.collection-comment{ id: "comment-#{comment.id}" }
    %span.title= "#{comment.user.name.humanize} comentó hace #{time_ago_in_words(comment.created_at)}: "
    %p.comment-body
      = comment.comment
    - if current_user.id == comment.user_id || current_user.rol == 'admin'
      = link_to admin_delete_comment_path(comment_id: comment.id, permalink: @post.permalink, next_comments: @next_comments), class: "secondary-content", method: :delete, remote: true, data: { confirm: '¿Está seguro de querer eliminar el comentario?' } do
        %i.material-icons delete
- if @comments_left > 0
  %li.collection-item.collection-comment.more-comments
    = link_to 'Más comentarios', admin_show_post_path(next_comments: @next_comments + 10), remote: true

