.row
  - if @posts.empty?
    .col.l10.offset-l1
      .card
        .card-content
          .card-title
            = "No se encontraron resultados#{' para: '+@query[:body_or_title_cont] if @query}."
  - else
    - @posts.each do |post|
      .col.l4.m6
        .card.post{ id: "post-#{post.id}" }
          -# if current_user.is_speaker?
          = link_to admin_save_post_path(post.permalink), class: "right btn-floating btn-flat tooltipped btn-save #{'saved' if current_user.saved?(post)}", id: "btn-save-#{post.id}", "data-position" => "bottom", "data-tooltip" => "Favorito", remote: true do
            = material_icon.md_18.grade
          .card-content
            .card-title
              = link_to post.title, admin_show_post_path(post.permalink)
            = render 'admin/blog/audio_player', post: post
          .card-action
            = render 'post_info', post: post
.row
  =# paginate @posts, window: 1
