- if action_name == 'search'
  %ul.post-info
    %li
      %a
        %i.material-icons insert_invitation
        = post.date
    %li
      = link_to admin_search_path(q: params[:q], filter: @filter.merge(user_name_eq: post.user.name)) do
        %i.material-icons person
        = post.user.name
    %li
      = link_to admin_search_path(q: params[:q], filter: @filter.merge(post_category_name_eq: post.post_category.name)) do
        %i.material-icons styles
        = post.post_category.name

- else
  %ul.post-info
    %li
      %a
        %i.material-icons insert_invitation
        = post.date
    %li
      = link_to admin_search_path(filter: {user_name_eq: post.user.name}) do
        %i.material-icons person
        = post.user.name
    %li
      = link_to admin_search_path(filter: {post_category_name_eq: post.post_category.name}) do
        %i.material-icons styles
        = post.post_category.name
