- if action_name == 'search' && @filter.any?
  .row.filter
    - @filter.each do |key, value|
      .chip
        = "#{filter_name(key)}: #{value}"
        %i.close.material-icons{ id: "close-#{key}" } close
      :javascript
        $(".chip .close#close-#{key}").on('click', function() {
          $("#filter_#{key}").remove();
          $('.form-search.blog-search').submit();
        });
.row
  .search
    = link_to "#{@query ? admin_blog_path : ''}", class: 'btn-floating btn-large waves-effect waves-light btn-search' do
      %i.material-icons= "#{@query ? 'close' : 'search'}"
    = search_form_for @q, url: admin_search_path, html: { method: :get, class: "form-search blog-search form-search-{{inputSearch}} #{'active' if @query || @filter}", "ng-init" => "inputSearch=#{!@query.blank?}" } do |f|
      - if action_name == 'search' && @filter.any?
        - @filter.each do |key, value|
          = hidden_field_tag "filter[#{key.to_sym}]", value
      = f.search_field :body_or_title_cont, class: "nav-search", placeholder: t("keppler.actions.search")


