= title("Blog | #{@post.title}")
.wrapper.blog.blog-show
  .wrapper-body.container
    .actions
      - if can? :save, Blog
        = link_to admin_save_post_path(@post.permalink), class: "right btn-floating btn-flat tooltipped btn-save #{'saved' if current_user.saved?(@post)}", "data-position" => "bottom", "data-tooltip" => "Favorito", remote: true do
          = material_icon.md_18.grade
      = link_to admin_blog_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")

    .row
      .card.post
        .card-content
          .card-title
            = @post.title
          = render 'admin/blog/audio_player', post: @post
        .card-action
          = render 'post_info', post: @post

    - if @post.allow_comments
      .row
        .card.comments
          .card-content
            %ul.collection.comments
              %li.collection-header
                %h4 Comentarios
              %li.collection-item
                = simple_form_for @comment, url: admin_post_comment_path, remote: true  do |f|
                  %p.comment-body
                    %label{:for => "comment-input"} Nuevo comentario
                    %textarea.materialize-textarea#comment-input{ name: :comment}
                  %button.btn-floating.transparent.secondary-content.btn-send{ name: "action", type: "submit" }
                    %i.material-icons.right send

              = render 'comment_row', comments: @comments
