.blog {
  .btn-save i {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.54);
  }
  .btn-save.saved i {
    font-size: 25px;
  }
  .card.post {
    .card-title {
      display: block;
      text-align: center;
      a {
        color: inherit;
      }
    }
  }

  .post-info {
    display: inline-flex;
    margin: 10px 0 0;
    width: 100%;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 25px;

    li {
      margin-left: 10px;
      display: flex;
      align-items: flex-start;
    }

    a {
      color: inherit !important;
    }
  }
  .search {
    position: relative !important;
    padding: 0 0 15px;
    height: 70px;
  }
  .blog-search {
    height: 60px !important;
    top: 0;
    position: absolute;
    padding: 8px;
    right: 100px;
    width: 0px;

    input.nav-search {
      color: white;
      background-image: none;
      height: 45px;
      width: 0px;
      padding: 0;
    }
  }

  .blog-search.active {
    width: 90%;
    .nav-search {
      padding-left: 20px;
      width: 100%;
    }
  }
  .btn-search {
    right: 15px;
    position: absolute;
  }
}

.collection.comments {
  border: 0;

  .collection-header {
    padding: 0 15px;
    border-bottom: 1px solid #e0e0e0;

    h4 {
      margin: 0 0 30px;
    }
  }
  .collection-item {
    border: 1px solid #e0e0e0;
    border-top: 0;
  }
  p.comment-body {
    width: 95% !important;
    display: inline-block !important;
  }
  .secondary-content i {
  }
  button.transparent {
    box-shadow: none !important;
  }
}

.row.filter {
  padding: 0 50px;
}

.blog.show-post {
  .collection.comments {
    h4 {
      position: relative;
    }
    .comments-form {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.more-comments {
  @include transition(.5s);
  height: 50px;
  padding: 0 !important;
  a {
    @include transition(.5s);
    width: 100%;
    text-align: center;
    color: $primary-color;
    height: 100%;
    display: inline-block;
    padding: 12px;
  }
}

.more-comments:hover {
  background: $primary-color;
  a { color: $white; }
}
