// Listing index
.card .card-content .card-title { color: inherit !important; }
.new-user {
  margin-left: 32px;
  position: fixed;
  top: 105px;
  z-index: 3;

  .btn-floating {
    margin-right: 15px;
  }
}
.new-user-small {
  bottom: 20px;
  display: block;
  position: fixed;
  right: 20px;

  .btn-floating {
    margin-right: 15px;
  }
}

.listing.col {
  background: $white;
  box-shadow: 0 1px 2px rgba($black, .3);
  margin-top: 75px;
  padding: 0;
  position: relative;

  @media #{$small-and-down} {
    margin-top: 0;
  }

  .btn-new {
    margin-left: 32px;
    position: fixed;
    top: 100px;
    z-index: 3;
  }

  .entries {
    border: 1px solid $gray-lighten;
    float: right;
    font-size: 12px;
    margin: 10px 15px;
    padding: 7px 30px;

    @media #{$small-and-down} {
      display: none;
    }
  }

  table {
    width: 100.1%;

    .item-check {
      left: 5px;

      @media #{$small-and-down} {
        left: -5px;
      }
    }

    [type="checkbox"] + label {
      top: 4.9px;
    }

    td {
      font-weight: 300;
      padding-left: 20px;
      position: relative;
    }

    .btn-floating:hover {
      background: transparent;
      box-shadow: none !important;
    }

    .show-row {
      height: 67px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    tr:hover,
    .active {
      background: $gray-lighten;
    }
  }
}

// Listing show
.listing-show.col {
  padding: 0;

  .listing-show-header {
    height: 129px;
    position: fixed;
    top: 0;
    width: 25%;

    .actions {
      float: right;
      position: relative;
      right: 10px;
      top: 9px;
    }

    .btn-floating:hover {
      box-shadow: none;
    }

    h5 {
      bottom: 0;
      color: $white;
      font-weight: 300;
      margin: 0;
      padding: 10px;
      position: absolute;
    }

    i {
      position: relative;
      top: 3px;
    }
  }

  .listing-show-body {
    margin-top: 75px;
    min-width: 25%;
    overflow: auto !important;
    position: fixed;

    &::-webkit-scrollbar {
      width: 0 !important;
    }

    h5 {
      color: $gray-darken;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 0;
    }

    p {
      font-weight: 300;
      text-align: justify;
    }

    .not-found {
      color: $error-color;
      margin-top: 9px;
      text-align: center;
    }

    img {
      width: 100%;
    }

    .card-content {
      padding: 10px;
    }

    .list {
      margin-bottom: 0;
      margin-top: 0;
    }

    .collection-item {
      font-size: .8em;
    }

    .list-row {
      margin-bottom: 10px;
    }

    .display-label {
      color: $gray-darken;
      font-size: 13px;
      font-weight: 600;
    }

    .display-value {
      font-size: 13px;
      font-weight: 300;
    }

    .collection {
      border-left: 0;
      margin-top: 0;
    }
  }
}
.images-box {
  margin-top: 55px;
  .images-card {
    margin-left: 10px;
    display: inline-block;
    .show-row > img {
      width: 100%;
    }
    .item-check {
      position: absolute;
      bottom: 0;
      left: 10px;
    }
  }
}
