.wrapper {
  margin-top: 100px;

  @media #{$small-and-down} {
    margin-top: 20px;
  }

  .actions {
    height: 30px;
    margin-bottom: 15px;

    a {
      margin-left: 2px;
    }

    .btn-floating {
      box-shadow: none;
    }

    .btn-floating:hover {
      background: $gray-hover;
    }
  }

  &-body {
    .card {
      margin-bottom: 40px;
    }
  }

  .list {
    margin-top: 8px;

    .list-row {
      margin-bottom: 10px;
    }

    .display-label {
      color: $gray-darken;
      font-size: 13px;
      font-weight: 600;
    }

    .display-value {
      font-size: 13px;
      font-weight: 300;
    }
  }
}

.audio-player {
  width: 100%;
  padding: 30px 15px 20px;
  background: $gray-lighten;
  margin-top: 15px;

  .timeline{
    background: $gray-darken;
    position: relative;
    width: 100%;
    height: 5px;
    margin: 20px 0;
    cursor: pointer;
  }

  .playhead{
    cursor: pointer;
    width: 5px;
    height: 25px;
    position: absolute;
    top: -10px;
  }

  audio {
    display: none;
  }
  .audio-controls {
    text-align: center;
    margin-bottom: 30px;
  }


}
