$themes: (
  // [label, primary-color, darken-color, accent-color]
  ("keppler", $keppler-color, $keppler-darken, $keppler-accent),
  ("pink", $pink-color, $pink-darken, $pink-accent),
  ("cyan", $cyan-color, $cyan-darken, $cyan-accent),
  ("grey", $grey-color, $grey-darken, $grey-accent),
  ("amber", $amber-color, $amber-darken, $amber-accent),
  ("brown", $brown-color, $brown-darken, $brown-accent)
);

@each $label, $primary-color, $darken-color, $accent-color in $themes {
  .#{$label}-theme {
    .theme-color { background: $primary-color; }
    .theme-color:hover { background: $darken-color; }

    .switch.theme-color-switch  {
      .lever {
        background: $darken-color !important;
      }
      .lever:after {
        background: $primary-color !important;
      }

    }

    .devise-box-header {
      background: $primary-color !important;
    }

    .modal-header{
      background: $primary-color;
    }

    nav,
    .header-information {
      background: $primary-color;
    }

    .listing-show-header{
      background: $darken-color;
    }

    .control-label.active {
      color: $accent-color !important;
    }

    .btn-add,
    .btn {
      background: $accent-color;
    }

    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid $accent-color;
      box-shadow: 0 1px 0 0 $accent-color;
    }

    .checkbox_material [type="checkbox"]:checked + label:before {
      border-bottom: 2px solid $accent-color;
      border-right: 2px solid $accent-color;
    }

    [type="checkbox"].filled-in:checked + label:after {
      background-color: $accent-color;
      border: 2px solid $accent-color;
    }

    #nprogress .bar {
      background:  $accent-color;
    }
    .blog {
      .btn-save.saved i {
        font-size: 25px;
        color: $primary-color;
      }
      .card.post .card-title {
        color: $primary-color;
      }

      .post-info i {
        color: $primary-color;
      }
      input.nav-search {
        background: $primary-color;
      }
      .btn-search {
        background: $primary-color;
      }
      .collection.comments .secondary-content i {
        color: $primary-color;
      }
    }
    .new-user-modal {
      a {
        background: $primary-color;
        color: $white;
      }
      a:hover {
        background: $darken-color;
      }
    }
    .audio-player {
      border: 1px solid $primary-color;

      .playhead{
        background: $primary-color;
      }

      .btn-floating {
        background: $primary-color;
      }
    }
  }
}

