section.about {
  padding-top:50px;
  padding-bottom: 50px;

  img {
    width: 300px;
    height: 150px;
  }

  .about-text {
    font-size: 20px;
    color: #797979;
    padding: 10px;
    text-align: center;

    @include respond-to(xs) {
      font-size: 18px;
    }
  }
}
