section.certified{
  background: #929191;
  height: 300px;
  position: relative;

  @include respond-to(xs) {
    background: #fff;
    height: auto;
  }

  .row {
    margin: 0;
  }

  .certified-subsection-1 {
    background: #ffffff;
    width: 60%;
    height: 300px;
    position: absolute;

    @include respond-to(xs) {
      height: auto;
    }
    .certified-subsection-background {
      width: 0;
      height: 0;
      border-top: 300px solid #ffffff;
      border-right: 160px solid transparent;
      position: relative;
      left: 100%;
      @include respond-to(xs) {
        display: none;
      }
    }
  }
  #banderas{
    padding-top:40px;
    padding-right:100px;
    @include respond-to(xs) {
      padding: 40px 0 60px;
    }
  }

  .certified-subsection-2 {
    @include display(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    height: 100%;
  }

  .certified-title {
    padding-top: 0;
    font-size:17px;
    color:#fff;
    text-align: right;

    @include respond-to(xs) {
      padding-top:40px;
      color:#797979;
    }
  }
}
