section.contacts {
  background: #36d7b7;
  color: #fff;
  overflow: hidden;
  width: 100%;
  position: relative;

  input, textarea {
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: #000000;
  }

  textarea {
    height: 70px;
  }

  .socials {
    background: #249780;
    margin-top: 30px;

    .icon-socials a{
      font-size: 50px;
      color: #ffffff !important;
      @include transition(.5s);
    }
    .icon-socials a:hover{
      color: #36d7b7 !important;
    }
  }

  #container-fluid-socials{
    width: 50%;
    @include respond-to(sm) {
      width: 70%;
      padding: 15px 0;
    }
    @include respond-to(xs) {
      width: 95%;
      padding: 15px 0;
    }
  }

  .content-contact{
    width: 60%;
  }

  .btn-contact{
    background:none;
    border:none;
    width: 50px;
  }
  #logo-speaker-footer{
    width: 85%;

    @include respond-to(sm) {
      margin-top: 20px;
      width: 50%;
    }
    @include respond-to(xs) {
      margin-top: 20px;
      width: 50%;
    }
  }

  .contacts-content {
    width: 75%;
    margin: 0 auto;

    @include respond-to(xs) {
      width: 95%;
    }
    @include respond-to(sm) {
      width: 90%;
    }
  }
}
