section.conferences{
  background: #fff;
  padding: 50px 0;
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);

  .row { margin: 0; }

  .conferences-title {
    font-size:17px;
    color: #929191;
    padding-top: 50px;
    @include respond-to(xs) {
      padding: 0 30px;
    }
    @include respond-to(sm) {
      padding: 0 30px;
    }
  }

  #calentar-event{
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .box-event{
    background: #5dbbd5;
    height: 230px;
    width: 100%;
    padding: 15px;
    color: #ffffff;

    @include respond-to(xs) {
      height: 200px;
    }
    @include respond-to(sm) {
      height: 250px;
    }
    h3 {
      margin-top: 5px;
    }
  }
  .first-event {
    @include respond-to(xs) {
      margin-bottom: 10px;
    }
  }
}
