section.rights {
  padding: 15px;
  background: #ffffff;
  text-align: center;
}
section.slice-muffin {
  background-color: #b9671c;
  padding: 15px;
  color: #ffffff;

  .footer-logo{
    width: 50px;
    display: inline;
    margin-left: 5px;
  }
  span.muffin-text{
    position: relative;
    top: 5px;
  }
  .footer-logo-muffin{
    width: 86px;
    display: inline;
    margin-left: 5px;
  }

  .slice-muffin-content {
    width: 75%;
    margin: 0 auto;

    @include respond-to(xs) {
      width: 95%;
    }
    @include respond-to(sm) {
      width: 90%;
    }

    .row { margin: 0; }
    .muffin-text { text-align: right; }

    .slice-text,
    .muffin-text {
      @include respond-to(xs) {
        height: 40px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
