.front {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  background: $primary-color;
  height: 100%;

  &-logo {
    img {
      @include respond-to(xs) {
        width: 300px;
      }
    }
  }

  &-social {
    margin-top: 30px;

    ul {
      margin: 0 20px;
      padding: 0;
    }

    li {
      @include display(inline);
      margin: 0 20px;

      @include respond-to(xs) {
        margin: 0 7px;
      }
    }

    a {
      color: $white;
      font-size: 4rem;

      @include respond-to(xs) {
        font-size: 2rem;
      }
    }

    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

main{
  background: none;
  margin-bottom: 0px;
  margin-top: 50px;
  padding-bottom: 0px;
  font-family: 'Lato', sans-serif;
}

.w-75 {
  width: 75%;

  @include respond-to(xs) {
    width: 95%;
  }
  @include respond-to(sm) {
    width: 90%;
  }
}

.w-70 {
  width: 70%;
}
