.header-gallery{
  background-image: url('headergaleria.png');
  background-position: 40% 40%;
  padding: 0px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
  /* margin-top: 50px; */
}

.gallery{
  background: #ffffff;
  font-family: 'Lato', sans-serif;
  padding-bottom: 80px;
  padding-top: 30px;
  .subsection-1{
    background: #ffffff;
    width: 60%;
    height: 450px;
    .borde-subsection{
      width: 0;
        height: 0;
        border-top: 450px solid #ffffff;
        border-right: 160px solid transparent;
      position: relative;
      left: 100%;
    }
  }
  #title-gallery{
    font-weight: bold;
    text-align: right;
    color: rgba(111, 100, 100, 1);
  }

  .gallery-image{
    box-shadow: 0px 5px 10px #4D4A4A;
    background-position: 40% 40%;
    height: 250px;
    width: 310px;
    background-size: cover;
    margin-bottom: 15px;
  }

  button{
    background: #36d7b7;
    padding: 10px;
    border: none;
    color: #ffffff;
    border-bottom: 3px solid #008B7B;
  }
  #text-section-8-gallery{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 0%;
    top: 0px;
  }

  #container-fluid{
    width: 75%;
  }
}


@media all and (min-width: 900px) and (max-width: 999px){
  .gallery{

    .gallery-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 100%;
      background-size: cover;
      margin-bottom: 10px;
    }
  }
}

@media all and (min-width: 800px) and (max-width: 899px){
  .gallery{
    .gallery-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 100%;
      background-size: cover;
      margin-bottom: 10px;
    }
  }
}

@media all and (min-width: 700px) and (max-width: 799px){
  .gallery{
    .gallery-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 100%;
      background-size: cover;
      margin-bottom: 10px;
    }
  }
}

@media all and (max-width: 699px){
  .gallery{
    .gallery-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 200px;
      width: 100%;
      background-size: cover;
      margin-bottom: 10px;
    }
  }
}
