section.henao{
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);

  background: #fd8a21;
  color:#fff;
  padding: 50px 0 80px;
  position: relative;
  @include respond-to(xs) {
    padding-bottom: 50px;
  }

  .video-container{
    background: #ffffff;
    width: 100%;
    height: 350px;
    padding:10px;
  }

  .henao-subsection{
    background: #b9671c;
    height: 100px;
    position: absolute;
    bottom: 60px;
    width: 100%;

    @include respond-to(xs) {
      display: none;
    }
  }
  .row { margin: 0; }

  center h2 b {
    @include respond-to(xs) {
      font-size: 20px;
    }
  }

  center p {
    font-size: 18px;
    @include respond-to(xs) {
      font-size: 16px;
    }
  }
  center center b {
    font-size: 20px;
    font-style:italic;
    @include respond-to(xs) {
      font-size: 18px;
    }
  }
}


@-moz-document url-prefix() {
  .henao-subsection{
    display: none
  }
}
