section.home {
  background-image: url('headerspeaker.jpg');
  background-position: 40% 40%;
  height: 550px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  //padding: 0px;
  width: 100%;
}
