section.index-gallery {
  background: #929191;
  height: 450px;
  overflow: hidden;
  position: relative;

  @include respond-to(sm) {
    height: auto;
    padding-bottom: 30px;
  }

  @include respond-to(xs) {
    height: auto;
    padding-bottom: 30px;
  }

  .index-gallery-content {
    width: 75%;
    margin: 0 auto;
    @include respond-to(sm) {
      width: 90%;
    }
  }

  .index-gallery-subsection-1 {
    background: #ffffff;
    width: 60%;
    height: 450px;
    position: absolute;
    .index-gallery-subsection-background {
      width: 0;
      height: 0;
      border-top: 450px solid #ffffff;
      border-right: 160px solid transparent;
      position: relative;
      left: 100%;
    }
  }
  #title-galeria{
    font-weight: bold;
    text-align: right;
    color: #ffffff;
  }

  .galeria-image{
    box-shadow: 0px 5px 10px #4D4A4A;
    background-position: 40% 40%;
    height: 250px;
    width: 310px;
    background-size: cover;
    @include respond-to(xs) {
      margin-bottom: 15px;
      width: 100%;
      height: 200px;
    }
    @include respond-to(sm) {
      height: 200px;
      max-width: 100%;
    }
  }

  button{
    background: #36d7b7;
    padding: 10px;
    border: none;
    color: #ffffff;
    border-bottom: 3px solid #008B7B;
  }
  .btn-gallery-xs {
    width: 70%;
    padding: 20px;
    font-size: 16px;
  }
}

@-moz-document url-prefix() {
  .section-8{
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    padding-bottom: 40px;
    .subsection-1{
      display: none;
    }
    #title-galeria{
      font-weight: bold;
      text-align: right;
      color: rgba(111, 100, 100, 1);
    }

    .galeria-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 310px;
      background-size: cover;
    }

    button{
      background: #36d7b7;
      padding: 10px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
  }
}
