.footer-logo{
  width: 50px;
  display: inline;
}
span.muffin-text{
  position: relative;
  top: 5px;
}
.footer-logo-muffin{
  width: 86px;
  display: inline;
}

.header-perfil{
  background-image: url('headerperfil.jpg');
  background-position: 40% 40%;
  padding: 0px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
  /* margin-top: 50px; */
}

.header-galeria{
  background-image: url('headergaleria.png');
  background-position: 40% 40%;
  padding: 0px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
  /* margin-top: 50px; */
}

.sector-perfil{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  .image-perfil{
    background-size: cover;
    height: 300px;
    width: 200px;
  }
  .speaker-selector{
    border-radius: 50%;
    width: 268px;
    height: 268px;
    padding: 7px;
    border: 3px solid #fd8a21;
    .speaker{
      border-radius: 50%;
      width: 250px;
      height: 250px;
      background-size: cover;
    }
  }
  #title-speakers{
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    color: #fd8a21;
  }
  #text-speakers{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #929191;
  }
}

#logo-speaker-footer{
  width: 495px;
  height: 242px;
}

.section-9{
  background: #36d7b7;
  color: #fff;
  overflow: hidden;
  width: 100%;
  position: absolute;

  input, textarea{
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    color: #000000;
  }

  textarea{
    height: 70px;
  }

  .redes{
    background: #249780;
    margin-top: 30px;

    .icon-redes a{
      font-size: 60px;
      color: #ffffff !important;
    }
    .icon-redes a:hover{
      font-size: 60px;
      color: #ffffff !important;
    }
  }

  #container-fluid-redes{
    width: 40%;
  }

  .content-contact{
    width: 60%;
  }

  .btn-contact{
    background:none;
    border:none;
    width: 50px;
  }
}

.logo-footer {
  margin: 0 !important;
}

.section-8{
  height: 250px;
}

.section-10{
  padding: 15px;
  background: #ffffff;
}
.section-11{
  background-color: #b9671c;
  padding: 15px;
  color: #ffffff;
  margin-top: 187px;
}


//////////////////////////Navegadores////////////////////////////////////////////////////////
@media screen and (-webkit-min-device-pixel-ratio:0){

  .section-4{
    background: #fd8a21;
    font-family: 'Lato', sans-serif;
    color:#fff;
    padding-bottom: 80px;
    .video-container{
      background: #ffffff;
      width: 100%;
      height: 350px;
      padding:10px;
    }
    .subsection{
      background: #b9671c;
      height: 100px;
      position: relative;
      top: 399px;
    }
  }

  .section-8{
    background: #929191;
    height: 450px;
    font-family: 'Lato', sans-serif;
    .subsection-1{
      background: #ffffff;
      width: 60%;
      height: 450px;
      .borde-subsection{
        width: 0;
          height: 0;
          border-top: 450px solid #ffffff;
          border-right: 160px solid transparent;
        position: relative;
        left: 100%;
      }
    }
    #title-galeria{
      font-weight: bold;
      text-align: right;
      color: #ffffff;
    }

    .galeria-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 310px;
      background-size: cover;
    }

    button{
      background: #36d7b7;
      padding: 10px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
  }

  #text-section-8{
    font-family: 'Lato', sans-serif;
    position: relative;
    top:-450px;
    left: 0%;
  }
}


@-moz-document url-prefix() {
  .section-4{
    background: #fd8a21;
    font-family: 'Lato', sans-serif;
    color:#fff;
    #certificar{
      position: relative;
      top: -130px;
    }
    .video-container{
      background: #ffffff;
      width: 100%;
      height: 350px;
      padding:10px;
    }
    .subsection{
      display: none
    }
  }

  .section-8{
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    padding-bottom: 40px;
    .subsection-1{
      display: none;
    }
    #title-galeria{
      font-weight: bold;
      text-align: right;
      color: rgba(111, 100, 100, 1);
    }

    .galeria-image{
      box-shadow: 0px 5px 10px #4D4A4A;
      background-position: 40% 40%;
      height: 250px;
      width: 310px;
      background-size: cover;
    }

    button{
      background: #36d7b7;
      padding: 10px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
  }

  #text-section-8{
    font-family: 'Lato', sans-serif;
  }

}

/////////////////////////Responsive//////////////////////////////////////////////////////////
@media (min-width: 1600px){

  .section-4{
    background: #fd8a21;
    font-family: 'Lato', sans-serif;
    color:#fff;
    padding-bottom: 80px;
    .video-container{
      background: #ffffff;
      width: 450px;
      height: 350px;
      padding:10px;
    }
    .subsection{
      background: #b9671c;
      height: 100px;
      position: relative;
      top: 399px;
    }
  }
}

@media (max-width: 1600px){
  .section-4{
    .subsection{
      top: 400px;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1600px){
  .section-4{
    .subsection{
      top: 399px;
    }
  }
}

@media all and (min-width: 1230px) and (max-width: 1399px){
  #container-fluid{
    width: 80%;

  }
  .section-4{
    .subsection{
      top: 520px;
    }
  }
}

@media all and (min-width: 1200px) and (max-width: 1229px){
  #container-fluid{
    width: 80%;
  }
  .section-4{
    .subsection{
      top: 420px;
    }
  }
}

@media all and (min-width: 1228px) and (max-width: 1273px){
  #container-fluid{
    width: 80%;
  }
  .section-4{
    .subsection{
      top: 400px;
    }
  }
}

@media all and (min-width: 1175px) and (max-width: 1227px){
  #container-fluid{
    width: 100%;
  }
  .section-4{
    .subsection{
      top: 350px;
    }
  }
}


@media all and (min-width: 1000px) and (max-width: 1174px){
  #container-fluid{
    width: 100%;
  }
  .section-4{
    .subsection{
      top: 380px;
    }
  }

}


@media all and (min-width: 900px) and (max-width: 999px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
  }
  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }
  .section-4{
    .subsection{
      height: 50px;
      top: 610px;
    }
  }
  .section-5{
    .box-event{
      height: 250px;
    }
  }

  .section-7{
    display: none;
  }

  .section-7-xs{
    display: block;
  }

  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 80%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .row{
      height: 100px;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }

  .section-9{
    #container-fluid-redes{
      width: 70%;
    }
  }

}

@media all and (min-width: 850px) and (max-width: 899px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
  }
  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }
  .section-4{
    .subsection{
      height: 80px;
      top:640px;
    }
  }
  .section-5{
    .box-event{
      height: 250px;
    }
  }
  .section-7{
    display: none;
  }
  .section-7-xs{
    display: block;
  }
  .section-9{
    #container-fluid-redes{
      width: 70%;
    }
  }

  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 80%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }

}

@media all and (min-width: 800px) and (max-width: 849px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
  }
  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }
  .section-4{
    .subsection{
      height: 80px;
      top:665px;
    }
  }
  .section-7{
    display: none;
  }
  .section-7-xs{
    display: block;
  }
  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 80%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }
  .section-9{
    #container-fluid-redes{
      width: 70%;
    }
  }

}

@media all and (min-width: 768px) and (max-width: 799px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
  }
  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }
  .section-4{
    .subsection{
      height: 80px;
      top:665px;
    }
  }
  .section-7{
    display: none;
  }
  .section-7-xs{
    display: block;
  }
  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 80%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }
  .section-9{
    #container-fluid-redes{
      width: 100%;
    }
  }

}

@media all and (min-width: 700px) and (max-width: 767px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
    #aprende-icon{
      padding-top:0px;
      padding-left:0px;
    }
  }

  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }

  .section-3{
    background: #ffffff;
    height: auto;
    padding-bottom: 80px;
    #banderas{
      padding-top:50px;
      padding-right:0px;
    }
  }

  .section-4{
    .subsection{
      height: 80px;
      top:665px;
    }
  }

  #text-section-3{
    font-family: 'Lato', sans-serif;
    position: relative;
    top:0px;
    left: 0%;
    color:#797979;
  }
  .section-5{
    .box-event{
      height: 250px;
      margin-bottom: 6px;
    }
  }

  .section-6{
    button{
      background: #fd8a21;
      padding: 20px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #966C00;
      width: 80%;
      margin-top: 30px;
    }
  }
  .section-7{
    display: none;
  }
  .section-7-xs{
    display: block;
  }
  .section-9{
    #container-fluid-redes{
      width: 100%;
    }
  }
  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 80%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }

  .modal-body{
      padding:0px;
      height: auto;
    }
}

@media (max-width: 700px){
  #container-fluid{
    width: 100%;
  }

  .section-2{
    background: #36d7b7;
    height: auto;
    padding-bottom: 30px;
    .subsection-1{
      display:none;
    }
    #aprende-icon{
      padding-top:0px;
      padding-left:0px;
    }
  }

  #text-section-2{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 0px;
    left: 0%;
    color: #ffffff;
  }

  .section-3{
    background: #ffffff;
    color:#797979;
    height: auto;
    padding-bottom: 80px;
    #banderas{
      padding-top:50px;
      padding-right:0px;
    }
  }

  .section-4{
    padding-top: 80px;
    .subsection{
      display:none;
    }
  }

  .section-5{
    .box-event{
      height: 250px;
      margin-bottom: 6px;
    }
  }

  #text-section-3{
    font-family: 'Lato', sans-serif;
    position: relative;
    top:0px;
    left: 0%;
    color:#797979;
  }

  .section-6{
    button{
      background: #fd8a21;
      padding: 20px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #966C00;
      width: 90%;
      margin-top: 30px;
    }
  }

  .section-7{
    display: none;
  }
  .section-7-xs{
    display: block;
    .item{
      height: 300px;
    }
  }
  .section-9{
    #container-fluid-redes{
      width: 100%;
    }
  }

  .section-8{
    height: auto;
    #text-section-8 {
      font-family: 'Lato', sans-serif;
      position: relative;
      top: 0px;
      left: 0%;
    }
    button{
      background: #36d7b7;
      padding: 20px;
      width: 100%;
      margin-bottom: 40px;
      border: none;
      color: #ffffff;
      border-bottom: 3px solid #008B7B;
    }
    .galeria-image{
      margin-bottom: 10px;
    }
  }
  .modal-body{
      padding:0px;
      height: auto;
    }
}
