section.modules {
  background: #36d7b7;
  height: 350px;
  position: relative;

  @include respond-to(xs) {
    height: auto;
    padding-bottom: 30px;
  }

  @include respond-to(sm) {
    height: auto;
    padding-bottom: 30px;
  }

  .modules-subsection-1 {
    background: #249780;
    width: 30%;
    height: 350px;
    position: absolute;

    .modules-subsection-background {
      width: 0;
      height: 0;
      border-bottom: 350px solid #249780;
      border-right: 160px solid transparent;
      position: relative;
      left: 100%;
    }

    @include respond-to(xs) {
      display: none;
    }
    @include respond-to(sm) {
      display: none;
    }
  }

  .modules-subsection-2 {
    height: 100%;
    @include display(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    color: white;
  }

  .modal-image:hover {
    img {
      width: 80px;
      @include transition(.1s);
    }
  }
}
