section.testimonies {
  background-image: url('banner.jpg');
  height: 300px;
  padding-top: 30px;

  @include respond-to(xs) {
    background-image: url('banner-xs.jpg');
    background-size: cover;
    background-position: 15%;
    height: auto;
  }
  @include respond-to(sm) {
    background-image: url('banner-xs.jpg');
    background-size: cover;
    background-position: 15%;
    height: auto;
  }
  @include respond-to(md) {
    background-image: url('banner-xs.jpg');
    background-size: cover;
    background-position: 15%;
    height: auto;
  }
  .text-testimonios{
    color: #ffffff;
    @include respond-to(xs) {
      width: 100%;
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }
    @include respond-to(sm) {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    @include respond-to(md) {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .item{
    height: 270px;
    @include respond-to(xs) {
      height: 220px;
    }
    @include respond-to(sm) {
      height: 220px;
    }
    @include respond-to(md) {
      height: 220px;
    }
    .text-testimonios {
      font-size: 20px;
      @include respond-to(xs) {
        font-size: 16px;
      }
    }
  }
  .testimonies-content {
    width: 75%;
    margin: 0 auto;
    @include respond-to(xs) {
      width: 95%;
    }
    @include respond-to(sm) {
      width: 90%;
    }
  }
  .carousel-small {
    display: none;
    @include respond-to(xs) {
      display: block;
    }
    @include respond-to(sm) {
      display: block;
    }
    @include respond-to(md) {
      display: block;
    }
  }
  .carousel-big {
    display: block;
    @include respond-to(xs) {
      display: none;
    }
    @include respond-to(sm) {
      display: none;
    }
    @include respond-to(md) {
      display: none;
    }
  }
}
