%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =image_tag "app/logo-speaker.png", class: 'navbar-brand', :id => 'logo-speaker',:href=>"/"
    .collapse.navbar-collapse
      - if action_name == "index"
        %ul.nav.navbar-nav.top-nav.pull-right.visible-lg.visible-md
          = render 'app/layouts/navigation_links'
      - else
        %ul.nav.navbar-nav.pull-right.visible-lg.visible-md
          = render 'app/layouts/navigation_links_internal'
      %ul.nav.navbar-nav.visible-sm.visible-xs
        = render 'app/layouts/navigation_links'

