%li.current
  %a{ href: "#home" } INICIO
%li
  %a{ href: "#about" } ¿QUÉ ES?
%li
  %a{ href: "#gallery" } GALERIA
%li
  %a{ href: "#contacts" } CONTACTOS
%li.btn-admin
  - if current_user
    = link_to 'SOLO PARA SPEAKERS', dashboard_path, class: 'external'
  - else
    = link_to 'SOLO PARA SPEAKERS', new_user_session_path, class: 'external'

