%li.current
  = link_to 'INICIO', root_path(anchor: 'home'), class: 'external'
%li
  = link_to '¿QUÉ ES?', root_path(anchor: 'about'), class: 'external'
%li
  = link_to 'GALERIA', root_path(anchor: 'gallery'), class: 'external'
%li
  = link_to 'CONTACTOS', root_path(anchor: 'contacts'), class: 'external'
%li.btn-admin
  - if current_user
    = link_to 'SOLO PARA SPEAKERS', dashboard_path, class: 'external'
  - else
    = link_to 'SOLO PARA SPEAKERS', new_user_session_path, class: 'external'
