.wrapper
  .wrapper-body.container
    .actions
      = link_to admin_conferences_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        .card-content
          = simple_form_for [:admin, @conference] do |f|
            .row
              = f.input :city, label: 'Ciudad'
              = f.input :place, label: 'Lugar de la conferencia'
              = f.input :dates, label: '¿Entre qué dias se hará el evento?'

              .form-actions.right
                = f.button :submit, t("keppler.actions.save"), name: '_save'
      .card
        .card-content
          %h4 Ejemplo
          %p
            %strong Ciudad:
            Venezuela (Caracas)
          %p
            %strong Lugar de la conferencia:
            Hotel Lidotel
          %p
            %strong ¿Entre qué dias se hará el evento?
            Del 5 al 9 de Julio.
