.listing-show-header
	.actions
		- if can? :update, Conference
			= link_to edit_admin_conference_path(@conference), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label Ciudad
				.display-value= @conference.city
			%li.list-row
				.display-label Lugar de la conferencia
				.display-value= @conference.place
			%li.list-row
				.display-label ¿Entre qué dias se hará el evento?
				.display-value= @conference.dates
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_conferences_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
