%tr{ id: "row-#{conference.id}" }
	- if can? :destroy_multiple, Conference
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_conference_path(conference), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{conference.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{conference.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{conference.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_conference_path(conference, search: @query), remote: true, class: "show-row"
			%span
				= conference.city
		%td{style:"width: 30%"}
			= link_to "", admin_conference_path(conference, search: @query), remote: true, class: "show-row"
			%span
				= conference.dates
	- if (can? :clone, Conference) && (Conference.count < 2)
		%td{style:"width: 5%"}
			= link_to admin_conference_clone_path(conference), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.content_copy.css_class("md-dark")
	%td{style:"width: 5%"}
		= link_to admin_conference_path(conference), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
