= title(t('keppler.titles.show', model: "Conferences"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Conference
				= link_to admin_conference_path(@conference), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Conference
				= link_to edit_admin_conference_path(@conference), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_conferences_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%ul.list
					%li.list-row
						.display-label Ciudad
						.display-value.fs-body-1.tc-black-2= @conference.city.to_s.humanize
					%li.list-row
						.display-label Lugar de la conferencia
						.display-value.fs-body-1.tc-black-2= @conference.place.to_s.humanize
					%li.list-row
						.display-label ¿Entre qué dias se hará el evento?
						.display-value.fs-body-1.tc-black-2= @conference.dates.to_s.humanize
