.listing-show-header
	.actions
		- if can? :update, PostCategory
			= link_to edit_admin_post_category_path(@post_category), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.post_category.name")
				.display-value= @post_category.name
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_post_categories_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
