%tr{ id: "row-#{post_category.id}" }
	- if can? :destroy_multiple, PostCategory
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_post_category_path(post_category), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{post_category.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{post_category.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{post_category.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_post_category_path(post_category, search: @query), remote: true, class: "show-row"
			%span
				= post_category.name
	- if can? :clone, PostCategory
		%td{style:"width: 5%"}
			= link_to admin_post_category_clone_path(post_category), class: "btn-floating waves-effect btn-flat" do
				= material_icon.md_24.content_copy.css_class("md-dark")
	%td{style:"width: 5%"}
		= link_to admin_post_category_path(post_category), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")