= simple_form_for [:admin, post], method: :patch, remote: true, html: { class: 'comments-form' } do |f|
  .switch.theme-color-switch
    %label
      - if f.object.allow_comments == false
        %input{name: "post[allow_comments]", type: "hidden", value: "true"}
        %input{name: "post[allow_comments]", type: "checkbox", onclick: "$('.comments-form').submit()"}
          %span.lever

      - else
        %input{name: "post[allow_comments]", type: "hidden", value: "false"}
        %input{name: "post[allow_comments]", type: "checkbox", onclick: "$('.comments-form').submit()", checked: "true"}
          %span.lever
