.wrapper
  .wrapper-body.container
    .actions
      = link_to admin_posts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        .card-content
          = simple_form_for [:admin, @post] do |f|
            .row
              = f.input :title, label: 'Título del post'
              =# f.input :body, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
              = f.input :post_category_id, collection: @categories, label: false, include_blank: t('activerecord.attributes.keppler_blog/post.category'), input_html: { class: "browser-default" }
              = f.input :attachment, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
            %br
            .row
              = f.input :public, label: 'Publicar', as: :checkbox_material
              = f.input :allow_comments, label: 'Permitir comentarios', as: :checkbox_material

              .form-actions.right
                = f.button :submit, t("keppler.actions.save"), name: '_save'
                = f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'

:javascript
  $('#post_attachment').attr('accept', '.mp3')
