.listing-show-header
	.actions
		- if can? :update, Post
			= link_to edit_admin_post_path(@post), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.post.title")
				.display-value= @post.title
			%li.list-row
				.display-label= t("activerecord.attributes.post.user_id")
				.display-value= @post.user.name.humanize
			%li.list-row
				.display-label= t("activerecord.attributes.post.post_category_id")
				.display-value= @post.post_category.name.humanize
			%li.list-row
				.display-label= t("activerecord.attributes.post.public")
				.display-value= @post.public ? t("keppler.messages.y") : t("keppler.messages.n")
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_posts_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
