%tr{ id: "row-#{post.id}" }
	- if can? :destroy_multiple, Post
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_post_path(post), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{post.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{post.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{post.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_post_path(post, search: @query), remote: true, class: "show-row"
			%span
				= post.title.truncate(70)
		%td{style:"width: 30%"}
			= link_to "", admin_post_path(post, search: @query), remote: true, class: "show-row"
			%span
				= post.user.name
		%td{style:"width: 30%"}
			= link_to "", admin_post_path(post, search: @query), remote: true, class: "show-row"
			%span
				= post.post_category.name
		%td{style:"width: 30%"}
			= link_to "", admin_post_path(post, search: @query), remote: true, class: "show-row"
			%span
				= post.public ? t('activerecord.attributes.keppler_blog/post.published') : t('activerecord.attributes.keppler_blog/post.no_published')
	%td{style:"width: 5%"}
		= link_to admin_post_path(post), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
