- if post.allow_comments
  %li.collection-item
    = simple_form_for comment, url: admin_post_comment_path(permalink: post.permalink), remote: true  do |f|
      %p.comment-body
        %label{:for => "comment-input"} Nuevo comentario
        %textarea.materialize-textarea#comment-input{ name: :comment}
      %button.btn-floating.transparent.secondary-content{:name => "action", :type => "submit"}
        %i.material-icons.right send

  = render 'admin/blog/comment_row', comments: @comments
- else
  %li.collection-item.empty
    %center Los comentarios has sido desactivados.
