= title(t('keppler.titles.show', model: "Posts"))
.wrapper.blog.show-post
  .wrapper-body.container
    .actions
      = link_to admin_posts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
      - if can? :delete, Post
        = link_to admin_post_path(@post), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
          = material_icon.md_18.delete.css_class("md-dark")
      - if can? :update, Post
        = link_to edit_admin_post_path(@post), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
          = material_icon.md_18.create.css_class("md-dark")
        = link_to admin_post_path(id: @post.id, post: {public: !@post.public}), method: :put, remote: true, class: "btn-floating btn-flat right public-icon" do
          - if @post.public
            = material_icon.md_18.lock_open.css_class("md-dark")
          - else
            = material_icon.md_18.lock_outline.css_class("md-dark")

    .card.post
      .card-content
        .card-title
          = @post.title
        = render 'admin/blog/audio_player', post: @post

      .card-action
        = render 'admin/blog/post_info', post: @post

    .row
      .card.comments
        .card-content
          %ul.collection.comments
            %li.collection-header
              %h4
                Comentarios
                = render 'comments_switch', post: @post
            = render 'post_comments', post: @post, comments: @comments, comment: @comment

