<% if @post.allow_comments %>
  $('.collection.comments .collection-item.empty').remove();
  $('.collection.comments').append("<%= j render(partial: 'post_comments', locals: { post: @post, comments: @comments, comment: @comment} ) %>");
<% else %>
  $('.collection.comments .collection-item').remove();
  $('.collection.comments').append('<li class="collection-item empty"><center>Los comentarios has sido desactivados.</center></li>');
<% end %>

<% if @post.public %>
  $('.public-icon i').html('lock_open');
  $('.public-icon').attr('href', $('.public-icon').attr('href').replace('true', 'false'));
<% else %>
  $('.public-icon i').html('lock_outline');
  $('.public-icon').attr('href', $('.public-icon').attr('href').replace('false', 'true'));
<% end %>

