.modal-dialog{
   padding-top: 15px
  }
  .modal-content{
    background:#36d7b7;
    border-radius:0%;
    box-shadow:none;
    border:none;
    color:#ffffff;
  }

  .modal-body{
    padding:0px;
    height: 350px;
    font-size:14px;
    @include respond-to(xs) {
      height: auto;
    }
  }

  .subsection-1{
    background: #249780;
    width: 70%;
    height: 350px;
  }
  .modal-subsection{
      width: 0;
      height: 0;
      border-bottom: 350px solid #249780;
      border-right: 160px solid transparent;
      position: relative;
      left: 100%;
  }
  #text-dialog{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: -287px;
    left: 0%;
    color: #ffffff;
  }

  #modal-body-galeria{
    padding:10px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #000000;
  }

  #imagen-modal {
  padding: 0px;
  height: 500px;
  background-size: 100% 100%;
  background-position: 70% 70%;
}
