.app-navbar {
  background-color: $primary-color;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 10px $primary-shadow;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;

  a {
    color: $white;
  }

  .brand-logo {
    color: $white;
    font-family: $putua;
    font-size: 30px;
    left: 10px;
    position: relative;
  }
}
#front-navbar.navbar-default {
  margin-bottom: 0px;
  padding: 5px;

}

#logo-speaker{
  width: 120px;
  padding: 0px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #36d7b7;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
  color: #7c799c;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.btn-admin {
  a {
    @include transition(.2s);
    background: #36d7b7;
    color: white !important;
    border-radius: 5px;
    border: 1px solid #36d7b7;
  }
  a:hover,
  a:focus,
  a:active {
    background: white;
    color: #36d7b7 !important;
  }
}
