.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_images_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card.small
				= simple_form_for [:admin, @image] do |f|
					.card-action
						= f.input :image, as: :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :public, as: :checkbox_material
						= f.input :title, label: false, placeholder: 'Title'
						.form-actions.right
							= f.button :submit, t("keppler.actions.save"), name: '_save'
							= f.button :submit, t("keppler.actions.save_and_add_another"), name: '_add_other'
