.listing-show-header
	.actions
		- if can? :update, Image
			= link_to edit_admin_image_path(@image), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.image.image")
				.display-value= @image.image
			%li.list-row
				.display-label= t("activerecord.attributes.image.public")
				.display-value= @image.public
			%li.list-row
				.display-label= t("activerecord.attributes.image.title")
				.display-value= @image.title
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_images_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
