.col.s4
	.card.images-card
		.card-image
			= image_tag image.image
		.item-check
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{image.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{image.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{image.id}" }
		= link_to admin_image_path(image.id), class: "btn-floating waves-effect btn-flat pull-right" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
