= title(t('keppler.titles.show', model: "Images"))
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Image
				= link_to admin_image_path(@image), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.delete"), method: :delete, data: { confirm: t("keppler.messages.data_confirm") } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Image
				= link_to edit_admin_image_path(@image), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" =>t("keppler.actions.edit") do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to admin_images_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-title
				= @image.title.to_s.humanize
			- if @image.image
				.card-image
					= image_tag @image.image
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.public")
						.display-value.fs-body-1.tc-black-2= @image.public.to_s.humanize
