.wrapper
  .wrapper-body.container
    .actions
      = link_to admin_users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
        = material_icon.md_18.arrow_back.css_class("md-dark")
    .wrapper-inputs
      .card
        .card-content
          .card-title
            Usuario tipo:
            = @rol.name.humanize
          = simple_form_for [:admin, @user] do |f|
            .row
              = f.input :role_ids, as: :hidden, input_html: { value: @rol.id }
              = f.input :name
              = f.input :email
              - if @rol.admin
                = f.input :password
                = f.input :password_confirmation
              .form-actions.right
                = f.button :submit, t("keppler.actions.save"), name: "_save"
                = f.button :submit, t("keppler.actions.save_and_add_another"), name: "_add_other"
