= title(t('keppler.titles.index', model: "Users"))

.listing.col.l9.m12.s12
  .new-user
    = link_to new_admin_user_path(rol: 'admin'), class: "btn-floating btn-large waves-effect waves-light hide-on-small-only tooltipped", "data-position" => "bottom", "data-tooltip" => "Crear nuevo admin" do
      = material_icon.md_24.supervisor_account
    = link_to new_admin_user_path(rol: 'speaker'), class: "btn-floating btn-large waves-effect waves-light hide-on-small-only tooltipped", "data-position" => "bottom", "data-tooltip" => "Crear nuevo speaker" do
      = material_icon.md_24.record_voice_over
  = entries(@total, @objects)
  %table.bordered
    %tbody
      - @objects.each do |user|
        = render 'listing', user: user
      - if @objects.size.zero?
        %tr
          %td{colspan: "4"}
            %center
              = t('keppler.messages.not_found_records', model:  t("keppler.models.pluralize.user"))
  = paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
  = render "description"

.new-user-small
  = link_to new_admin_user_path(rol: 'admin'), class: "btn-floating btn-large waves-effect waves-light" do
    = material_icon.md_24.supervisor_account.css_class("md-light")
  = link_to new_admin_user_path(rol: 'speaker'), class: "btn-floating btn-large waves-effect waves-light" do
    = material_icon.md_24.record_voice_over.css_class("md-light")
