#modalganar.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body.visible-lg
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}×
        .subsection-1.hidden-sm.hidden-xs
          .modal-subsection
        #text-dialog
          .col-lg-9
            %h3{style:"font-style: italic;"}
              %b Modulo III: ¿Ganar dinero inspirado?.
            Cuando estar calificado para "cobrar".
            %br
            Como "venderse" de forma eficaz y eficiente.
            %br
            Cuando decir NO.
            %br
            Manejo de las redes sociales del Speaker.
            %br
            Errores a la hora de proyectarse en el mercado.
            %br
            Mejor, GUARDA SILENCIO.
            %br
          .col-lg-3
            =image_tag "app/ganar-dinero.png", width: "120px"
      .modal-body.hidden-lg{style:"padding: 40px"}
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        .col-sm-4{style:"padding: 40px"}
          =image_tag "app/ganar-dinero.png", width: "120px"
        .col-sm-8
          %h3{style:"font-style: italic;"}
            %b Modulo III: ¿Ganar dinero inspirado?.
          Cuando estar calificado para "cobrar".
          %br
          Como "venderse" de forma eficaz y eficiente.
          %br
          Cuando decir NO.
          %br
          Manejo de las redes sociales del Speaker.
          %br
          Errores a la hora de proyectarse en el mercado.
          %br
          Mejor, GUARDA SILENCIO.
          %br
          %br
          %br
          %center.visible-xs
            %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Cerrar



