#modalextraordinario.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body.visible-lg
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}×
        .subsection-1.hidden-sm.hidden-xs
          .modal-subsection
        #text-dialog
          .col-lg-9
            %h3{style:"font-style: italic;"}
              %b Modulo I: De los común a lo extraordinario.
            ¿Quién es un speakers inspirador?.
            %br
            Eliminando paradigmas.
            %br
            Miedo escénico (control por medio de estrategias de coaching).
            %br
            Desarrollando un estado mental optimo.
            %br
            Técnicas de introducción.
            %br
            Técnicas de desarrollo.
            %br
            Técnicas de conclusión.
            %br
            Lenguaje corporal del ALTO IMPACTO.
            %br
          .col-lg-3.col-sm-4
            =image_tag "app/comun-extraordinario.png", width: "120px"
      .modal-body.hidden-lg{style:"padding: 40px"}
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        .col-sm-4{style:"padding: 40px"}
          =image_tag "app/comun-extraordinario.png", width: "120px"
        .col-sm-8
          %h3{style:"font-style: italic;"}
            %b Modulo I: De los común a lo extraordinario.
          ¿Quién es un speakers inspirador?.
          %br
          Eliminando paradigmas.
          %br
          Miedo escénico (control por medio de estrategias de coaching).
          %br
          Desarrollando un estado mental optimo.
          %br
          Técnicas de introducción.
          %br
          Técnicas de desarrollo.
          %br
          Técnicas de conclusión.
          %br
          Lenguaje corporal del ALTO IMPACTO.
          %br
          %br
          %br
          %center.visible-xs
            %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Cerrar


