#modalinspirador.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body.visible-lg
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}×
        .subsection-1.hidden-sm.hidden-xs
          .modal-subsection
        #text-dialog
          .col-lg-9
            %h3{style:"font-style: italic;"}
              %b Modulo IV: Un speaker inspirador.
            Más allá de la técnica.
            %br
            Las 3 P del Speaker.
            %br
            Las 3 F que aseguran el FRACASO.
            %br
            El secreto MÁS VENDIDO.
            %br
            Mi primera conferencia como SPEAKER.
            %br
            Entrega de certificados en conferencia abierta.
            %br
          .col-lg-3
            =image_tag "app/speaker-inspirador.png", width: "120px"
      .modal-body.hidden-lg{style:"padding: 40px"}
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        .col-sm-4{style:"padding: 40px"}
          =image_tag "app/speaker-inspirador.png", width: "120px"
        .col-sm-8
          %h3{style:"font-style: italic;"}
            %b Modulo IV: Un speaker inspirador.
          Más allá de la técnica.
          %br
          Las 3 P del Speaker.
          %br
          Las 3 F que aseguran el FRACASO.
          %br
          El secreto MÁS VENDIDO.
          %br
          Mi primera conferencia como SPEAKER.
          %br
          Entrega de certificados en conferencia abierta.
          %br
          %br
          %br
          %center.visible-xs
            %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Cerrar

