#modalinvisible.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body.visible-lg
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}×
        .subsection-1.hidden-sm.hidden-xs
          .modal-subsection
        #text-dialog
          .col-lg-9
            %h3{style:"font-style: italic;"}
              %b Modulo II: Haciendo visible lo invisible.
            El territorio del Speaker.
            %br
            El público y su territorio.
            %br
            La triada del proceso de comunicación.
            %br
            Inspirando a la mente.
            %br
            Inspirando al corazón.
            %br
            La respiración.
            %br
            El manejo de la voz.
            %br
            Micrófono y medios audiovisuales.
            %br
          .col-lg-3
            =image_tag "app/visible-invisible.png", width: "120px"
      .modal-body.hidden-lg{style:"padding: 40px"}
        %button.close.hidden-xs{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        .col-sm-4{style:"padding: 40px"}
          =image_tag "app/visible-invisible.png", width: "120px"
        .col-sm-8
          %h3{style:"font-style: italic;"}
            %b Modulo II: Haciendo visible lo invisible.
          El territorio del Speaker.
          %br
          El público y su territorio.
          %br
          La triada del proceso de comunicación.
          %br
          Inspirando a la mente.
          %br
          Inspirando al corazón.
          %br
          La respiración.
          %br
          El manejo de la voz.
          %br
          Micrófono y medios audiovisuales.
          %br
          %br
          %br
          %center.visible-xs
            %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} Cerrar
