.header-gallery.hidden-xs
.gallery
  #text-section-8-gallery
    .container#container-fluid
      #gallery-title
        %h1{style:"margin-bottom: 0px;"} Galería de Imágenes
      %br
      %br
      .row
        - @images.each do |imagen|
          %center
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              %a.hidden-xs{href:"", "data-target" => "#modalfoto-#{imagen.id}", "data-toggle" => "modal", :type => "button"}
                .gallery-image{style:"background-image: url(#{imagen.image});"}
              .gallery-image.visible-xs{style:"background-image: url(#{imagen.image});"}
              .modal.fade{id:"modalfoto-#{imagen.id}","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog.modal-lg
                  .modal-content
                    .modal-body#modal-body-gallery
                      #imagen-modal{style:"background-image: url(#{imagen.image})"}


= render "app/front/index_sections/contact_us"
= render "app/front/index_sections/footer"
