%section.home#home.hidden-xs
= render "app/front/index_sections/about"
= render "app/front/index_sections/modules"
= render "app/front/index_sections/certified_by"
= render "app/front/index_sections/henao"
= render "app/front/index_sections/conference_dates"
= render "app/front/index_sections/testimonies"
= render "app/front/index_sections/gallery"
= render "app/front/index_sections/contact_us"
= render "app/front/index_sections/footer"
